<h1>Discover New Restaurants</h1>

  
  <md-select ng-model="searchFilter">
    <md-option ng-repeat="filter in filters" ng-value="filter.type">{{filter.type}}</md-option>
  </md-select>
</md-input-container>
</div>

<input type="text" placeholder="search">

<div ng-repeat="rest in restaurants">

	<div><h2 ng-click="takeToMenu($index, restId)"><a href="#">{{rest.name}}</a><h2></div>
	<div><h4>{{rest.addCity}}, {{rest.addState}}</h4></div>
	<div><h4>Cuisine Type: {{rest.cuisine}}</h4></div>
</div>



<h4>Type of Cuisine</h4>
<div layout="row">
    <div flex="50" flex-md="100" layout="column">
      <fieldset class="standard" flex="">
        <div layout="row" layout-wrap="">
          <div flex="50" ng-repeat="cuisine in cuisines">
            <md-checkbox ng-model="rest.cuisine" ng-click="toggle(cuisine, selected)">
              {{ cuisine }} <span ng-if="exists(cuisine, selected)"></span>
            </md-checkbox>

          </div>
        </div>
      </fieldset>
    </div>
  </div>


<md-button type="submit" ng-click="find(restaurants)" class="md-raised md-primary">Find</button>