<h1>{{userInfo.name}}'s Dashboard!</h1>

<md-content layout-padding>
    <form name="deliveryAddress" ng-submit="deliveryAddress(delivery)">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>First name</label>
          <input ng-model="delivery.firstName">
        </md-input-container>
        <md-input-container flex>
          <label>Last Name</label>
          <input ng-model="theMax">
        </md-input-container>
      </div>
      <md-input-container flex>
        <label>Address</label>
        <input ng-model="delivery.address">
      </md-input-container>
      <md-input-container md-no-float>
        <input ng-model="delivery.address2" placeholder="Address 2">
      </md-input-container>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>City</label>
          <input ng-model="delivery.city">
        </md-input-container>
        <md-input-container flex>
          <label>State</label>
          <input ng-model="delivery.state">
        </md-input-container>
        <md-input-container flex>
          <label>Postal Code</label>
          <input ng-model="delivery.postalCode">
        </md-input-container>
      </div>
      <md-button class="md-raised md-primary" ng-click="deliveryAddress(delivery)">Add Delivery Info</md-button>
    </form>
  </md-content>
</div>
