<!--
OWNER: LOGAN
BACKING CONTROLLER: MenuCtrl
TODO:
- Button for Add a section
-

DATA ON CONTROLLER:
   $scope.sections = []
   section = {
        id,
        name,
        description
    }
   $scope.newSection = {

    }

HTML PSEUDO CODE:
  div .newSection
        input name  ng-model->newSection.name
        input description ng-model -> newSection.description
        button Add -> posts newSection to

  div .orderContainer
      repeat section on sections
        input name
        input description
        save changes button -> PUTs changes to server (takes in section)
        manage section items button -> change route to the manageItemsPage
-->





  <div>
    <div>
      <md-content>

        <md-input-container>
          <label>Menu Section</label>
          <input ng-model="MenuItem.section"></input>
        </md-input-container>

        <!-- <md-input-container> -->
          <!-- <label>Dish Name</label> -->
          <!-- <input ng-model="MenuItem.name"> -->
        <!-- </md-input-container> -->
        <!-- <md-input-container> -->
          <!-- <label>Dish Description</label> -->
          <!-- <input ng-model="MenuItem.description"> -->
        <!-- </md-input-container> -->
        <md-input-container>
          <label>Section Comments</label>
          <input ng-model="MenuItem.comments">
        </md-input-container>
        <!-- <md-input-container>
          <label>Dish Price</label>
          <input type="Number" ng-model="MenuItem.price">
        </md-input-container> -->
        <!-- <md-button ng-click="removeMenuItem(idx)">
          Remove Menu Item
        </md-button> -->
      </md-content>
    </div>
  </div>
    <md-button ng-click="addMenuItem()" class="md-primary md-raised">
      Add Section
    </md-button>
  <!-- </md-tab> -->

<!-- </md-tabs> -->

<md-button ng-click="saveMenuData(MenuItem)" class="md-accent md-hue-1" style="width: 100%; margin-bottom: 0;">
  Save
</md-button>
