<!--
OWNER: LOGAN
BACKING CONTROLLER: menuItemsCtrl
TODO:
- Show new menu item
    - Save new Menu Item
- Show list of existing menu items
    - Save menu item changes

DATA ON CONTROLLER:
    $scope.sectionItems = []
    sectionItem = {
        name,
        price,
        description,
        image
    }
    $scope.newSectionItem = {
        //see sectionItem
    }

HTML PSEUDO CODE:
    div .newItem
        input name  ng-model-> newSectionItem.name
        input description ng-model -> newSection.description
        //Repeat for other data on sectionItem
        button Add -> posts newSection to

  div .itemContainer
      repeat item on sectionItems
        input name
        input description
        //repeat for other data
        save changes button -> PUTs changes to server (takes in item)

-->

<div>
  <div>
    <md-content>
      <md-input-container>
        <label>Menu Section</label>
        <md-select ng-model="newItem.section">
          <md-option ng-repeat="Sectin in menu.Sections" ng-value="Section.id">{{Section.name}}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label>Menu Item Name</label>
        <input ng-model="newItem.name">
      </md-input-container>
      <md-input-container>
        <label>Menu Item Description</label>
        <input ng-model="newItem.description">
      </md-input-container>
      <md-input-container>
        <label>Price</label>
        <input type="Number" ng-model="newItem.price">
      </md-input-container>
    </md-content>
  </div>
</div>
<md-button ng-click="addMenuItem()" class="md-primary md-raised">
  Add Menu Item
</md-button>
<md-divider></md-divider>

<!-- <div ng-repeat="Section in menu.Sections">
  <h1>{{Section.name}}</h1>
  <div ng-repeat="MenuItem in Section.MenuItems">
    <h3>{{MenuItem.name}} - ${{MenuItem.price}}</h3>
    <p>{{MenuItem.description}}</p>
  </div>
</div> -->

<md-content>
  <md-list>
    <md-list-item class="md-4-line" ng-repeat="Section in menu.Sections">
      <div class="md-list-item-text">
        <div class="md-display-1">
          {{Section.name}}
        </div>
        <hr style="border-top: dashed 1px;">
        <div ng-repeat="MenuItem in Section.MenuItems">
          <div class="md-headline">{{MenuItem.name}}</div>
          <div class="md-subhead">${{MenuItem.price}}</div>
          <p>{{MenuItem.description}}</p>
          <hr class="md-accent" style="border-top: dotted 1px;">
        </div>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</md-content>
