<div>
  <h1 class="md-display-2">{{restData.name}} Dashboard</h1>
  <div class="add-menu-button">
    <md-button ng-click="goManage()" class="md-primary md-raised">
      Manage Menu
    </md-button>
  </div>
  <div class="dashboard-container" layout="row">
    <div flex="33" class="incoming-orders-container">
      <md-card class="md-padding">
        <md-card-header class="md-display-1">Current Orders</md-card-header>
        <md-card-content>
          <md-list>
            <md-list-item class="md-accent md-3-line incoming-orders-list" ng-repeat="order in orders" ng-if="order.status !== 'Delivered'" ng-click="selectedOrder(order)">
              <div class="md-list-item-text" layout="column">
                <h3 class="md-title">Order #{{order.id}}</h3>
                <h4 class="md-subhead">Placed: {{order.createdAt | date: "shortTime"}}</h4>
                <h4 class="md-subhead">{{order.status}}: {{order.updatedAt | date: "shortTime"}}</h4>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
    <div flex="66" ui-view></div>
  </div>
</div>


<!--
OWNER: MARK
BACKING CONTROLLER: RestLandingCtrl
TODO:
- Add a link to manage a menu
- Show Incoming Orders

DATA ON CONTROLLER:
    $scope.incomingOrders = []

    order = {
        name,
        address,
        phone,
        dishes: [],
        special comments
    }

HTML PSEUDO CODE:
 div
    div .orderList
        fixed width (min Width)
        repeat order on incomingOrders
            name & time
            click (order)
                on controller -> set $scope.selectedOrder
        [BONUS: Show 'indicator' for 'started']

    [BONUS: Send order status updates]

    div .orderDetails
        div
            visible only if started
            ready button inside
            once ready
                -> Shows delivery address & name & phone

        div .orderDishes
            repeat on selectedOrder.dishes
                dish name
                special comments

        div
            visible only if order.status === 'open'
                started
-->
