<md-tabs>
  <md-tab label="Restaurant Info">
    <md-content layout="column" layout-sm="column">

      <md-input-container style="50%">
        <label>Owner Name</label>
        <input ng-model="Restaurants.Owner.Name"> // This might have to change depending on the backend schema
      </md-input-container>

      <md-input-container style="50%">
        <label>Phone Number</label>
        <input type = "Number" ng-model="Restaurant">
      </md-input-container>

      <md-input-container style="50%">
        <label>Restaurant Name</label>
        <input ng-model="Restaurant">   // all of these ng-models will need to be changed
      </md-input-container>

      <md-input-container style="50%">
        <label>Location</label>
        <input ng-model="Restaurant">
      </md-input-container>

      <md-input-container style="50%">
        <label>Personal Email</label>
        <input ng-model="Restaurant">
      </md-input-container>

      <md-input-container style="50%">
        <label>Personal Phone</label>
        <input ng-model="Restaurant"> /// might need type ="Number"
      </md-input-container>

      <md-input-container style="50%">
        <label>Business Phone</label>
        <input ng-model="Restaurant">  // might need type ="Number"
      </md-input-container>

      <md-input-container style="50%">
        <label>Business Email</label>
        <input ng-model="Restaurant">
      </md-input-container>

    </md-content>
  </md-tab>

  ////////////////new tab////////////////

  <md-tab label="Menu">
    wer
  </md-tab>
</md-tabs>
