    <div>
      <md-content>
        <md-input-container>
          <label>Item Type</label>
          <md-select ng-model="menu.Course">
            <md-option ng-repeat="course in courses" ng-value="course.type">{{course.type}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Item Name</label>
          <input ng-model="menu.name">
        </md-input-container>
        <md-input-container>
          <label>Item Description</label>
          <input ng-model="menu.description">
        </md-input-container>
        <md-input-container>
          <label>Item Price</label>
          <input type="Number" ng-model="menu.price">
        </md-input-container>
        <md-button ng-click="removeMenuItem(idx)">
          Remove Menu Item
        </md-button>
      </md-content>
    </div>
    <md-button ng-click="addMenuItem()" class="md-primary md-raised">
      Add Menu Item
    </md-button>

  <!-- </md-tab> -->

<!-- </md-tabs> -->

<md-button ng-click="saveData()" class="md-accent md-hue-1" style="width: 100%; margin-bottom: 0;">
  Save
</md-button>
