<body>

<h4>{{userName}}&nbsp{{lastName}}</h4>
<h5>{{phoneNumber}}</h5>
<h5>{{addLine1}}&nbsp{{addLine2}}</h5>
<h5>{{addCity}},&nbsp{{addState}}&nbsp{{addZip}}</h5>
         
<h1>Your Queued Orders</h1>


<div ng-repeat="order in orders">
    <div ng-repeat="item in order.OrderItems">
    <h3>{{item.MenuItem.name}}</h3>
    <h5>${{item.MenuItem.price}}</h5>
    <img ng-src={{item.MenuItem.pictureURL}} ng-style="{'max-width': '200px', 'min-width': '200px'}" />

  </div>
</div>
<div class="container">
 
    <div class="dashboard-container">
      <div class="favorite-orders-container">
        <div class="favorite-orders-list" ng-click="selectedOrders(order)">
          <p>{{favOrder.name}}</p>
          <p>{{favOrder.restauraunt}}</p>
        </div>
      </div>
    </div>
</div>

</body>











