<div class="container">
		<div class="login">
		<h1 class="grey-text darken-2">Log In</h1>

			<form class="form-signin">
				<md-input-container>
					<label>Email</label>
					<input type="text" name="username" class="form-control" ng-model="loginData.email"></input>
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input type="password" name="password" class="form-control" ng-model="loginData.password"></input>
				</md-input-container>
				<div>
				<md-button type="submit" class="md-raised md-primary" ng-click="doLogin()">Login Customer</button>
				</div>
				<br>
				<div>
				<md-button type="submit" methodclass="md-raised md-primary" ng-click="doLoginRest()">Login Restaurant</button>
				</div
			</form>
		</div>
</div>
