<h1>Welcome to QueuePlate {{UserRegistration.First}}!</h1>

<h3>Restaraunt Owner</h3>
First Name: <input type="text">
Last Name: <input type="text">
Age: <input type="text">
Gender: <input type="text">

<h3>Restaraunt Location</h3>

Street: <input type="text">
Apt #: <input type="text">
City: <input type="text">
Zip: <input type="text">
State: <input type="text">

<h3>Contact</h3>
Owner Phone: <input type="text">
Company Phone: <input type="text">
Business Email: <input type="text">


<h3>Stripe Acct Information</h3>

Acct Number: <input type="text">

Associated URL's for Restaraunt

Type of Cuisine: <input type="dropdown">

How many tables?

Hours of operation:


<md-input-container>
  <label>First name</label>
  <input ng-model="user.firstName">
</md-input-container>

<md-input-container>
  <label>Last Name</label>
  <input ng-model="user.lastName">
</md-input-container>

<md-input-container>
  <label>Age</label>
  <input type="Number" ng-model="user.age">
</md-input-container>

<md-input-container>
  <label>Gender</label>
  <md-select ng-model="user.gender">
    <md-option ng-repeat="gender in genders" ng-value="gender.type">{{gender.type}}</md-option>
  </md-select>
</md-input-container>

<md-input-container>
  <label>Address</label>
  <input ng-model="user.street">
</md-input-container>

<md-input-container>
  <label>Apt #</label>
  <input ng-model="user.apt">
</md-input-container>

<md-input-container>
  <label>City</label>
  <input ng-model="user.city">
</md-input-container>

<md-input-container>
  <label>Zip Code</label>
  <input type="Number" ng-model="user.zip">
</md-input-container>

<md-input-container>
  <label>State</label>
  <md-select ng-model="user.state">
    <md-option ng-repeat="state in states" ng-value="state.type">{{state.type}}</md-option>
  </md-select>
</md-input-container>

<md-input-container>
  <label>Phone</label>
  <input type="tel" ng-model="user.phone" ui-mask="{{'(999) 999-9999'}}">
</md-input-container>
