<h1>Welcome to QueuePlate!</h1>

<h1 class="grey-text darken-2">Register Restaurant</h1>
      <form class="form-register" ng-submit="registerRest(rest)">

<!-- First Name: <input type="text">
Last Name: <input type="text">
Age: <input type="text">
Gender: <input type="text"> -->

<!-- <h3>Restaraunt Location</h3> -->

<!-- Street: <input type="text">
Apt #: <input type="text">
City: <input type="text">
Zip: <input type="text">
State: <input type="text"> -->

<!-- <h3>Contact</h3> -->
<!-- Owner Phone: <input type="text">
Company Phone: <input type="text">
Business Email: <input type="text"> -->


<!-- <h3>Stripe Acct Information</h3> -->

<!-- Acct Number: <input type="text"> -->

<!-- Associated URL's for Restaraunt -->

<!-- Type of Cuisine: <input type="dropdown"> -->

<!-- How many tables? -->

<!-- Hours of operation: -->

<md-input-container>
  <label>Restaurant Name</label>
  <input type="text" ng-model="rest.name">
</md-input-container>

<md-input-container>
  <label>Owner First Name</label>
  <input type="text" ng-model="rest.firstName">
</md-input-container>

<md-input-container>
  <label>Owner Last Name</label>
  <input ng-model="rest.lastName">
</md-input-container>

<md-input-container>
  <label>Owner Phone</label>
  <input type="tel" ng-model="rest.contactPhone" ui-mask="{{'(999) 999-9999'}}">
</md-input-container>

<md-input-container>
  <label>Business Phone</label>
  <input type="tel" ng-model="rest.phoneNumber" ui-mask="{{'(999) 999-9999'}}">
</md-input-container>

<md-input-container>
  <label>Business Email</label>
  <input type= "email" ng-model="rest.businessEmail">
</md-input-container>

<md-input-container>
  <label>Address Line 1</label>
  <input ng-model="rest.addLine1">
</md-input-container>

<md-input-container>
  <label>Address Line 2</label>
  <input ng-model="rest.addLine2">
</md-input-container>

<md-input-container>
  <label>City</label>
  <input ng-model="rest.addCity">
</md-input-container>


<md-input-container>
  <label>State</label>
  <md-select ng-model="rest.addState">
    <md-option ng-repeat="state in states" ng-value="state.type">{{state.type}}</md-option>
  </md-select>
</md-input-container>

<md-input-container>
  <label>Zip Code</label>
  <input type="Number" ng-model="rest.addZip">
</md-input-container>

<md-input-container>
  <label>Stripe Acct</label>
  <input type="Number" ng-model="rest.stripeAccount">
</md-input-container>

<md-input-container>
  <label># of Tables</label>
  <input type="Number" ng-model="rest.tables">
</md-input-container>

<md-checkbox ng-model="rest.cuisine.American">
  <label>American</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Cajun">
  <label>Cajun</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Caribbean">
  <label>Caribbean</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Chinese">
  <label>Chinese</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.French">
  <label>French</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.German">
  <label>German</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Greek">
  <label>Greek</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Indian">
  <label>indian</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Italian">
  <label>Italian</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Korean">
  <label>Korean</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Lebanese">
  <label>Lebanese</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Mediterranean">
  <label>Mediterranean</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Mexican">
  <label>Mexican</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Moroccan">
  <label>Moroccan</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Soul">
  <label>Soul</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Spanish">
  <label>Spanish</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Thai">
  <label>Thai</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Turkish">
  <label>Turkish</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Vietnamese">
  <label>Vietnamese</label>
</md-checkbox>
<md-checkbox ng-model="rest.cuisine.Other">
  <label>Other</label>
</md-checkbox>



<md-button type="submit">Register</md-button>
