<div class="container">
	<div class="row">
		<div>
		<h1 class="grey-text darken-2">Sign Up</h1>
			<form class="form-signin" method="post" ng-submit="signupUser()">

				Name:<input type="text" name="name" class="form-control" ng-model="userData.name">

				Username:<input type="text" name="username" class="form-control" ng-model="userData.username">

				Password:<input type="password" name="password" class="form-control" ng-model="userData.password">

				<button type="submit" class="btn btn-danger">Sign Up</button>

			</form>
		</div>
	</div>
</div>