<div class="container">
	<div class="row">
		<div>
		<h1 class="grey-text darken-2">Sign Up</h1>
			<form class="form-signin" method="post" ng-submit="validatePassword()">

				<!-- Name:<input type="text" name="name" class="form-control" ng-model="userData.name"> -->

				Email:<input type="text" name="username" class="form-control" ng-model="userData.email">

				Password:<input type="password" id="password" name ="password" class="form-control" ng-model="userData.password">

				Confirm Password:<input type="password" id= "passwordCheck" name="passwordCheck" class="form-control">

				<button type="submit" class="btn btn-danger">Sign Up</button>

			</form>
		</div>
	</div>
</div>


<!--signupUser() -->